<%= form_for @track do |f| %>
  
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h3><font color=red><%= pluralize(@track.errors.count, "error") %> 
           kept this track from being saved:</font></h3>
      <ul>
        <% @track.errors.full_messages.each do |msg| %>
          <font color=red><li><%= msg %></li></font>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </p>

  <p>
    <%= f.label :track_name %><br>
    <%= f.text_field :track_name %>
  </p>

  <p>
    <%= f.label :artist_name %><br>
    <%= f.text_field :artist_name %>
  </p>

  <p>
    <%= f.label :album_name %><br>
    <%= f.text_field :album_name %>
  </p>

  <p>
    <%= f.label 'Number of Streams' %><br>
    <%= f.text_field :num_streams %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>