<h1>Listing Tracks</h1>
 
<table>
  <tr>
    <th>Date</th>
    <th>Track</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Number of Streams</th>
  </tr>
 
  <% @tracks.each do |track| %>
    <tr>
      <td><%= track.date %></td>
      <td><%= track.track_name %></td>
      <td><%= track.artist_name %></td>
      <td><%= track.album_name %></td>
      <td><%= track.num_streams %></td>
      <td><%= link_to 'Show Track', track_path(track) %></td>
      <td><%= link_to 'Edit Track', edit_track_path(track) %></td>
      <td><%= link_to 'Destroy', track_path(track),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>