<p>
  <strong>Date:</strong>
  <%= @track.date %>
</p>
 
<p>
  <strong>Track Name:</strong>
  <%= @track.track_name %>
</p>

<p>
  <strong>Artist Name:</strong>
  <%= @track.artist_name %>
</p>

<p>
  <strong>Album Name:</strong>
  <%= @track.album_name %>
</p>

<p>
  <strong>Number of Streams:</strong>
  <%= @track.num_streams %>
</p>

<%= link_to 'Back', tracks_path %>
| <%= link_to 'Edit', edit_track_path(@track) %>