<p><%= link_to 'Raw View of Tracks', controller: 'tracks' %></p>
<p><%= link_to 'Create Test Track', new_track_path %></p>


<div class="col-xs-12">
  <h3>Top Tracks By Day</h3>
  <%= line_chart tracks_by_day_stat_path %>
</div>


